/* Reset */
* {
    color:black;
}

p {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}

ul, li {
    list-style:none;
}

/* Layout styles */

.info-block {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    .title {
        margin:0 1rem;
    }
}

.flex-column {
    display:flex;
    flex-direction: column;
}


.dog-img {
    width:100%;
    max-width:40em;
}

.display-inline {
    display:flex;
}

.search-box {
    input {
        width: 100%;
        max-width:50rem;
        text-align: center;
        font-size:2rem;
        border-radius: 25px;
        margin:2rem 0;
    }
}

.card-img-custom {
    width:100%;
    max-width:20rem;
    margin:1rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: ease-in-out 0.4s;
    &:hover{
        box-shadow:rgba(0, 0, 0, 0.45) 0px 0px 0px 0px;
    }
}
/* Component styles */

.loading {
    animation: spin 5s infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .info-block {
      display:flex;
      flex-direction: column;
    }
  }